@mixin icon {
    border: 1px solid transparent;
    height: 35px;
    width: 35px;
    margin: auto;
}

@mixin ic-google {
    display: flex;

    i {
        margin: auto;
    }
}

@mixin btn {
    @include icon;
    width: auto;
    height: auto;
    padding: 10px 15px;
    display: inline-block;
    margin: auto;
    border-radius: 5px;

    font : {
        weight: 600;
    }

    text-transform: capitalize;
}
$color : ('col-1':red,'col-2':black,'col-3':#ececec,'col-4':#848484,'col-5':#FFB3A9,'col-6':#DE9990);
@mixin default {
    html,
    body {
        font-family: sans-serif;
        font-size: 100%;
        width: 100%;
        margin: 0;
        scroll-behavior: smooth;
        text-align: center;
        @include scr-bar;
    }

    * {
        box-sizing: border-box;
    }

    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    button {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    button:focus,
    select:focus,
    input:focus,
    input:hover[type=number]::-webkit-inner-spin-button,
    input:focus,
    input:hover[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
        outline: none;
        outline: none;
    }

}
@mixin  scr-bar {
    ::-webkit-scrollbar {
        width: 7px;
        height:7px;
      }
      ::-webkit-scrollbar-track {
        background-color: map-get($color,'col-3');
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background:map-get($color,'col-6');
        border-radius: 10px;
        width:5px;
        height: 3px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: map-get($color,'col-5');
      }
      ::-webkit-scrollbar-button{
          background-color:transparent;
          width: 4em;
      }
}